body{
	
	font-family: 'Montserrat', sans-serif;
}

header{
	background: linear-gradient(#04151f, #226f54 45%);
	padding: 20px 0;
}

.imagemlista{

	width: 23%;
	
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;

}

nav{
	position: absolute;
	top: 100px;
	right: 0;
}


nav li{
	display: inline;
	margin: 0 0 0 20px;
}

nav a{
	text-transform: uppercase;
	color: #fefae0;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;

}

nav a:hover{
	color: #56cfe1;
}

main{

	background: url("fundo rodape.jpg");
}

.videofutsal{
	display: inline;
	width: 40%;
	vertical-align: top;
	margin: 30px 30px 30px 30px;
	
}

.videobasquete{
	display: inline;
	width: 40%;
	vertical-align: top;
	margin: 30px 30px 30px 30px;
}

.videohandebol{
	display: inline;
	width: 40%;
	vertical-align: top;
	margin: 30px 30px 30px 30px;
}

.videovolei{
	display: inline;
	width: 40%;
	vertical-align: top;
	margin: 30px 30px 30px 30px;
}

.textovideos{
	text-align: inherit;
	color: #FFFFFF;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 30px 30px 30px;
}


footer{
	text-align: center;
	background: url("fundo rodape.jpg");
	padding: 40px 0;
}

.copyrigth {
	color: #FFFFFF;
	font-size: 13px;
	
}

